
@{
    ViewData["Title"] = "Index";
}


<h1>Account Registration</h1>

<form action="../Registration/SaveUsers" method="post">
    <ul>
        <li>
            <label>User Name</label>
            <input type="text" name="UserName" placeholder="UserName" value="" /><br />
        </li>
        <li>
            <label>Email</label>
            <input type="email" name="UserEmail" placeholder="Email" value="" />
        </li>
        <li>
            <label>Password</label>
            <input id="passinput" type="password" name="UserPass" placeholder="Password" value="" />
        </li>
        <li>
            <label>Phone Number</label>
            <input type="tel" name="PhoneNumber" placeholder="555-555-5555" value="" />
        </li>
        <li>
            <label>Receive news by email?</label>
            <input type="checkbox" value="true" name="ReceiveNew" />
        </li>
        <li>
            <label>Average cups per day</label>
            <input type="number" name="AvgCups" value="0"/>
        </li>
    </ul>
    <input type="submit" class="btn-outline-success" value="Register" />
    @Html.ValidationSummary()
</form>




