
@{
    ViewData["Title"] = "UserSummary";
}
@model Lab18_WebApp.Models.RegisterUser

<h1>Registration Summary</h1>
<p>Welcome @Model.UserName!</p>
<p>Password: @Model.UserPass</p>
<p>Email: @Model.UserEmail</p>

